/* HEADER */
.hero {
	background-image: url("../images/about/fix-about-hero.jpg");

}

/* MAIN SECTION */
.main-section {
	flex-direction: column;
}
h3 {
	line-height: .5em;
}
h3:nth-of-type(2) {
	font-weight: 300;
}
.baker-img {
	background: #c3bbac;
}
.baker-img img {
	max-width: 100vw;
	max-height: 50vh;
}
.first-img {
	padding-top: 4%;
}
.baker-bio {
	padding: 0 5% 10% 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.baker-bio h3 {
	line-height: 0;
	margin-bottom: 1%;
}
.baker2 .baker-img {
	display: flex;
	justify-content: flex-end;
}
.baker2 .baker-bio {
	align-items: flex-end;
	text-align: right;
}



/* ############# */
/* MEDIA QUERIES */
/* ############# */

@media screen and (min-width: 480px) {

	/* MAIN SECTION HEADER */
	.baker1 .baker-img,
	.baker1 .baker-bio {
		flex: 1;
		padding-top: 10%;
	}
}

@media screen and (min-width: 650px) {
	
	/* BAKERS BIO */
	.baker1, 
	.baker2,
	.baker3 {
		display: flex;
		flex-direction: row;
	}
	.baker1 .baker-img, 
	.baker1 .baker-bio {
		padding-top: 8%;
	}
	.baker-img {
		display: flex;
		width: 50vw;
		max-height: 50vh;	
		/*flex: 1;*/
	}
	.baker-img img{
		max-width: 50vw;
	}
	.baker-bio {
		width: 50vw;
		/*padding: 0 2%;*/
		padding: 0;
		/*flex: 1;*/
	}
	.baker-bio h3 {
		margin-left: 5%;
		margin-right: 5%;
	}
	.baker-bio p {
		margin-left: 5%;
		margin-right: 5%;
	}

	.baker2 .baker-img {
		order: 2;
	}
	.baker2 .baker-bio {
		order: 1;
	}

}